<!DOCTYPE html>
<html lang="uk">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>psi</title>
    <link rel="stylesheet" href="/static/source/lib/swiper/swiper.css">
    <link rel="stylesheet" href="/static/source/fonts/fonts.css">
    <link rel="stylesheet" href="/static/source/pages/index/index.css">
</head>

<body>

    <header class="header container"
        style="background: url(/static/source/img/header/BG\ Hero.png), url(/static/source/img/header/MG.png) 100% 100%; background-size: cover;">

        <div class="header_top">
            <div class="header_top__logo">
                <img src="/static/source/img/common/Frame.svg" alt="logo">
            </div>
            <div class="header_top_sections">
                <a href="#" class="header_top_sections__item">
                    About PSI
                </a>
                <a href="#" class="header_top_sections__item">
                    Gallery
                </a>
                <a href="#" class="header_top_sections__item">
                    Our partners
                </a>
                <a href="#" class="header_top_sections__item">
                    Events
                </a>
                <a href="#" class="header_top_sections__item">
                    Contact
                </a>
            </div>
            <div class="header_top__button">
                <button class="btn_red">
                    BOOK NOW
                </button>
            </div>
        </div>

        <div class="header_title">
            <div class="header_title__1">
                — who we are
            </div>
            <div class="header_title__2">
                PSI MOTORSPORT
            </div>
            <div class="header_title__3">
                is a dynamic organization committed to motorsport racing
            </div>
        </div>

        <div class="header_bottom_container">
            <div class="header_bottom">
                <div class="scroll_btn">
                    <button>
                        <span>
                            scroll down
                        </span>
                        <span>
                            ↓
                        </span>
                    </button>
                </div>
                <div class="header_bottom__social social">
                    <div>
                        <a href="#">
                            <img src="/static/source/img/common/instagram.svg" alt="instagram">
                        </a>
                    </div>
                    <div>
                        <a href="#">
                            <img src="/static/source/img/common/ant-design_facebook-filled.svg" alt="facebook">
                        </a>
                    </div>
                    <div>
                        Follow us
                    </div>
                </div>
            </div>
        </div>

    </header>

    <section class="section01">

        <div class="section_top">
            <div class="section_title" style="background: url(/static/source/img/section01/Equipment.png) no-repeat;">
                <div class="section_title__1">
                    — About us
                </div>
                <div class="section_title__2">
                    Our mission
                </div>
                <div class="section_title__3">
                    Is to prove an opportunity to a car racers,
                    speed lovers, as well as drivers of any levels
                    to develop theirs skills on and off the track.
                </div>
            </div>
            <div class="section_img">
                <img src="/static/source/img/section01/01.png" alt="car">
            </div>
        </div>

        <div class="section01_text">
            <div class="section01_text__1">
                or simply join us to enjoy your exclusive passion for the motorsport
            </div>
            <div class="section01_text__2">
                Rental
            </div>
        </div>

        <div class="section01_cars">
            <div class="section01_cars__item">
                <img src="/static/source/img/section01/021.png" alt="car">
                <div class="section01_cars__item-btn">
                    <button class="btn_red">
                        BOOK NOW
                    </button>
                </div>
                <div class="section01_cars__item-name">
                    Toyota Supra
                </div>
            </div>
            <div class="section01_cars__item">
                <img src="/static/source/img/section01/5.png" alt="car">
                <div class="section01_cars__item-btn">
                    <button class="btn_red">
                        BOOK NOW
                    </button>
                </div>
                <div class="section01_cars__item-name">
                    Vw gti
                </div>
            </div>
            <div class="section01_cars__item">
                <img src="/static/source/img/section01/6.png" alt="car">
                <div class="section01_cars__item-btn">
                    <button class="btn_red">
                        BOOK NOW
                    </button>
                </div>
                <div class="section01_cars__item-name">
                    BMW e92
                </div>
            </div>
            <div class="section01_cars__item">
                <img src="/static/source/img/section01/7.png" alt="car">
                <div class="section01_cars__item-btn">
                    <button class="btn_red">
                        BOOK NOW
                    </button>
                </div>
                <div class="section01_cars__item-name">
                    Porsche clubsport 718
                </div>
            </div>
        </div>

    </section>

    <section class="section02 container">
        <div class="section02_item">
            <img src="/static/source/img/section02/3.png" alt="">
        </div>
        <div class="section02_item" style="background: url(/static/source/img/section02/Equipment.png) no-repeat;">
            <div class="section02_item__wrapper">
                <div class="section_title__1">
                    — Photo and video
                </div>
                <div class="section_title__2">
                    Our Gallery
                </div>
            </div>

        </div>
        <div class="section02_item">
            <video src="" controls></video>
        </div>
        <div class="section02_item">
            <img src="/static/source/img/section02/5.png" alt="">
        </div>
        <div class="section02_item">
            <img src="/static/source/img/section02/6.png" alt="">
        </div>
        <div class="section02_item">
            <img src="/static/source/img/section02/7.png" alt="">
        </div>
    </section>

    <section class="section03">
        <div class="section_top">
            <div class="section_img">
                <img src="/static/source/img/section03/01.png" alt="">
                <img src="/static/source/img/section03/image 1.svg" class="logo" alt="">
            </div>
            <div class="section_title" style="background: url(/static/source/img/section03/Equipment.png) no-repeat;">
                <div class="section_title__1">
                    — our core
                </div>
                <div class="section_title__3">
                    In every activity, we strive to share our core values:
                </div>
                <div class="section_title__2">
                    Passion, Speed & Integrity
                </div>
            </div>
        </div>
        <div class="section03_choose">
            <div class="section03_choose__title">
                CHOOSE A RACECAR
            </div>
            <div class="section03_choose__btn">
                <button class="btn_white">
                    BOOK NOW
                </button>
            </div>
        </div>
        <div class="section03_partners swiper-container">
            <div class="section03_partners__title section_title__2">
                Our partners
            </div>
            <div class="swiper-wrapper section03_partners_wrapper">
                <div class="swiper-slide">
                    <img src="/static/source/img/section03/Frame.svg" alt="">
                </div>
                <div class="swiper-slide">
                    <img src="/static/source/img/section03/Frame (1).svg" alt="">
                </div>
                <div class="swiper-slide">
                    <img src="/static/source/img/section03/Frame (2).svg" alt="">
                </div>
                <div class="swiper-slide">
                    <img src="/static/source/img/section03/Frame (3).svg" alt="">
                </div>
                <div class="swiper-slide">
                    <img src="/static/source/img/section03/Frame (2).svg" alt="">
                </div>
                <div class="swiper-slide">
                    <img src="/static/source/img/section03/Frame (3).svg" alt="">
                </div>
            </div>
            <!-- <div class="swiper-pagination"></div> -->
        </div>

    </section>

    <section class="section04">

        <div class="section_top container">
            <div class="section_title" style="background: url(/static/source/img/section04/Equipment.png) no-repeat;">
                <div class="section_title__1">
                    — events
                </div>
                <div class="section_title__3">
                    Psi schedule:
                </div>
                <div class="section_title__2">
                    Our future events
                </div>
            </div>
            <div class="section_img swiper-container section04_swiper">
                <div class="swiper-wrapper">
                    <div class="section04_swiper_slide swiper-slide"
                        style="background: url(/static/source/img/section04/Rectangle\ 868.png), url(/static/source/img/section04/01.png) 100% 100% no-repeat; background-size: cover;">
                        <div class="slide_title">
                            <div class="slide_title__1">
                                Join us
                            </div>
                            <div class="slide_title__2">
                                Ozarks International Raceway
                            </div>
                            <div class="slide_title__3">
                                <span>
                                    <img src="/static/source/img/section04/bxs_time-five.svg" alt="">
                                </span>
                                <span>
                                    Registration ends in 15 days
                                    Sun, May 8, 06:59 AM GMT+3
                                </span>
                            </div>
                            <div class="slide_title__3">
                                <span>
                                    <img src="/static/source/img/section04/ci_location.svg" alt="">
                                </span>
                                <span>
                                    Ozarks International Raceway
                                    Gravois Mills, MO
                                </span>
                            </div>
                        </div>
                    </div>
                    <div class="section04_swiper_slide swiper-slide"
                        style="background: url(/static/source/img/section04/Rectangle\ 868.png), url(/static/source/img/section04/01.png) 100% 100% no-repeat; background-size: cover;">
                        <div class="slide_title">
                            <div class="slide_title__1">
                                Join us
                            </div>
                            <div class="slide_title__2">
                                Ozarks International Raceway
                            </div>
                            <div class="slide_title__3">
                                <span>
                                    <img src="/static/source/img/section04/bxs_time-five.svg" alt="">
                                </span>
                                <span>
                                    Registration ends in 15 days
                                    Sun, May 8, 06:59 AM GMT+3
                                </span>
                            </div>
                            <div class="slide_title__3">
                                <span>
                                    <img src="/static/source/img/section04/ci_location.svg" alt="">
                                </span>
                                <span>
                                    Ozarks International Raceway
                                    Gravois Mills, MO
                                </span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="section04_shop">
            <div class="section04_shop_title">
                <div class="section04_shop_title__1">
                    Shop our merchandise
                </div>
                <div class="section04_shop_title__2">
                    Tshirts, Hats etc
                </div>
            </div>
            <div>
                <button class="btn_white">
                    Buy now
                </button>
            </div>
        </div>
    </section>

    <section class="section05">
        <div class="section_top">
            <div class="section_img swiper-container section05_swiper">
                <div class="swiper-wrapper">
                    <div class="swiper-slide section05_swiper_slide">
                        <img src="/static/source/img/section05/01.png" alt="">
                    </div>
                    <div class="swiper-slide section05_swiper_slide">
                        <img src="/static/source/img/section05/01 (1).png" alt="">
                    </div>
                    <div class="swiper-slide section05_swiper_slide">
                        <img src="/static/source/img/section05/01 (1).png" alt="">
                    </div>
                    <div class="swiper-slide section05_swiper_slide">
                        <img src="/static/source/img/section05/01 (1).png" alt="">
                    </div>
                    <div class="swiper-slide section05_swiper_slide">
                        <img src="/static/source/img/section05/01 (1).png" alt="">
                    </div>
                </div>
            </div>
            <div class="section_title" style="background: url(/static/source/img/section05/Equipment.png) no-repeat;">
                <div class="section_title__1">
                    — contact us
                </div>
                <div class="section_title__2">
                    Contact us
                </div>
                <div class="section_title__3">
                    to get more details about what we offer: race car rental,
                    coaching services, opportunities to participate in track days, and go-kart rental.
                </div>
            </div>
        </div>
    </section>

    <footer class="footer">
        <div class="footer_form_wrapper">
            <form action="#" class="footer_form">
                <div>
                    <div class="footer_form__title">
                        Full Name
                    </div>
                    <div class="footer_form_input">
                        <input type="text" name="" id="" placeholder="Your name">
                    </div>

                </div>
                <div>
                    <div class="footer_form__title">
                        Phome number
                    </div>
                    <div class="footer_form_input">
                        <input type="text" name="" id="" placeholder="+ (___) ____ ____">
                    </div>

                </div>
                <div>
                    <div class="footer_form__title">
                        Comments
                    </div>
                    <div class="footer_form_input">
                        <input type="text" name="" id="" placeholder="Your comments">
                    </div>

                </div>
                <div>
                    <input type="submit" class="btn_white" value="SUMBIT">
                </div>
            </form>
        </div>
        <div class="footer_top">
            <div>
                <img src="/static/source/img/common/Frame.svg" alt="logo">
            </div>
            <div class="footer_top_sections">
                <span>
                    About PSI
                </span>
                <span>
                    Gallery
                </span>
                <span>
                    Our partners
                </span>
            </div>
            <div class="social">
                <div>
                    <a href="#">
                        <img src="/static/source/img/common/instagram.svg" alt="instagram">
                    </a>
                </div>
                <div>
                    <a href="#">
                        <img src="/static/source/img/common/ant-design_facebook-filled.svg" alt="facebook">
                    </a>
                </div>
                <div>
                    Follow us
                </div>
            </div>
            <div class="footer_top_email">
                <a href="mailto:PSImotorsportsUSA@gmail.com">
                    <img src="/static/source/img/footer/clarity_email-solid.svg" alt="">
                    PSImotorsportsUSA@gmail.com
                </a>
            </div>
        </div>
        <div class="footer_bottom_container container">
            <div class="footer_bottom">
                <div class="footer_bottom_privacy">
                    PSI MOTORSPORT | PRIVACY POLICY © 2022
                </div>
                <div>
                    <img src="/static/source/img/footer/sw-logo 1.svg" alt="">
                </div>
            </div>
        </div>
    </footer>


    <script src="/static/source/lib/custom_mask/index.js"></script>
    <script src="/static/source/lib/swiper/swiper.js"></script>
    <script src="/static/source/pages/index/index.js"></script>

</body>

</html>